---
import SocialIcon from './SocialIcon.astro';
const today = new Date();
---

<footer class="bg-background">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center space-x-6">
      <SocialIcon platform="github" username="deankeesey" />
      <SocialIcon platform="linkedin" username="dean-keesey" />
    </div>
    <div class="mt-8 text-center">
      <p class="font-hind text-text">&copy; {today.getFullYear()} Dean Keesey. All rights reserved.</p>
    </div>
  </div>
</footer>